/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* style */

body {
	height: 2000px;
}

div {
	margin: auto;
}

.container {
	width: 620px;
	border: 5px solid black;
	margin: 20px;
	box-sizing: border-box;
	float: left;
	position: relative;

}

.satu {
	width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: static;
    /* static tidak bergerak */
}

.dua {
	width: 200px;
    height: 200px;
    background-color: salmon;
    position: relative;
    /* relative bisa menggunakan opsi right, left, top, bottom (seperti margin) */
    top: 50px;
    left: 70px;

}

.tiga {
	width: 200px;
    height: 200px;
    background-color: sandybrown;
}

.empat {
	width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.lima {
	width: 200px;
    height: 200px;
    background-color: salmon;
	position: absolute;
	top: 0;
	left: 0;
	/* bergerak terhadap parent terdekat yg non static */
}

.enam {
	width: 200px;
    height: 200px;
    background-color: sandybrown;
	position: fixed;
	top: 0;
	right: 0;
	/* bergerak terhadap window web nya (fixed position) */
}






/* clear float */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
	 content: " "; /* 1 */
	 display: table; /* 2 */
 }
 
 .cf:after {
	 clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
	 *zoom: 1;
 }